<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/signup" method="POST">
    <fieldset>
        <legend>Sign Up </legend>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="username">Username</label>
    <input type="text" name="userName" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <input type="submit" value="Sign Up">
    </fieldset>
</form>
</body>
</html>